In [1]:
print('Hello World')

Hello World

In [2]:
print('Hello World')
print('Welcome!')
print('Good Bye.')

Hello World
Welcome!
Good Bye.

In [3]:
num1 = 45
num2 = 55
add = num1 + num2
print(add)

100

In [4]:
pass =56

SyntaxError: invalid syntax (411285749.py, line 1)

In [5]:
num1 = 56
type(num1)

int

In [6]:
num1 = 56.36
type(num1)

float

In [7]:
name = 'Tushar'
type(name)

str

In [8]:
num1, num2, num3 = 67, 45, 29

In [9]:
print(num1)

67

In [10]:
num1, num2, num3 = 67, 'Hello', 29.46

In [11]:
num1 = num2 = num3 = 67

In [12]:
name = 'Tushar'
marks = 67.83

In [14]:
print('My name is', name,'and marks are:', marks)

My name is Tushar and marks are: 67.83

In [15]:
print('My name is %s and marks are: %f' %(name,marks))

My name is Tushar and marks are: 67.830000

In [16]:
print('My name is %s and marks are: %.1f' %(name,marks))

My name is Tushar and marks are: 67.8

In [17]:
print('My name is %s and marks are: %i' %(name,marks))

My name is Tushar and marks are: 67

In [20]:
# This is my first program
num1 = 45   # Number1
num2 = 55   # Number2
add = num1 + num2  # Perform Addition
print('Addition is:', add)

Addition is: 100

In [21]:
num1 = 45;   num2 = 55;  add = num1 + num2; print(add)

100

##### Operators

In [22]:
num1 = 67
num2 = 19

In [26]:
# Arithmetic Operators
add = num1 + num2 # Addition
print('Addition is:', add)
print('Subtraction is:', num1 - num2)  # subtraction
print('Multiplication is:', num1 * num2)  # multiplication
print('Division is:', num1 / num2)  # division
print('Floor Division is:', num1 // num2)  # floor division
print('Modulo Division is:', num1 % num2)  # modulo division
print('Raised to:', num1 ** num2)  # power of

Addition is: 86
Subtraction is: 48
Multiplication is: 1273
Division is: 3.526315789473684
Floor Division is: 3
Modulo Division is: 10
Raised to: 49593099428404263766544428188098203

In [27]:
# Assignment Operators
num1 = 67
num1 += 2
print(num1)

69

In [28]:
# Assignment Operators
num1 = 12
num1 *= 2
print(num1)

24

In [31]:
# Relational Operators
num1 = 67
num2 = 19
print('Greater Than:', num1 > num2)
print('Greater Than / Equal:', num1 >= num2)
print('Less Than:', num1 < num2)
print('Less Than / Equal:', num1 <= num2)
print('Equal:', num1 == num2)
print('Not Equal:', num1 != num2)

Greater Than: True
Greater Than / Equal: True
Less Than: False
Less Than / Equal: False
Equal: False
Not Equal: True

In [32]:
# Logical Operators
num1 = 67
num2 = 19
print('AND:', (num1 > num2) and (num1 < 100))

AND: True

In [33]:
print('OR:', (num1 > num2) or (num1 > 100))

OR: True

In [34]:
# Membership selection
name = 'Tushar'
'u' in name

True

In [35]:
x = [5,4,2,5,6,7]
9 in x

False

In [36]:
19 not in x

True

In [37]:
x = [5,4, 'Pune', 45, 6, 7.45]
'Mumbai' in x

False

##### User input

In [40]:
num = input('Enter the number: ')
result = num * 3
print('You have entered:', result)

Enter the number:  56

You have entered: 565656

In [41]:
num = int(input('Enter the number: '))
result = num * 3
print('You have entered:', result)

Enter the number:  56

You have entered: 168

In [42]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
add = num1 + num2
print('Addition is: ', add)

Enter first number:  45
Enter second number:  55

Addition is:  100